<!DOCTYPE html>
<html lang="en">
  <body style="background: black;">
    <%- include('../partials/navigation.ejs') %>
    <h2 class="row justify-content-center my-5" style="color: grey;">Bookings</h2>
    <div class="container my-5">
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Visit Date</th>
            <th>Ticket Type</th>
            <th>Time Slot</th>
          </tr>
        </thead>
        <tbody>
          <% bookings.forEach(booking => { %>
          <tr>
            <td><%= booking.id %></td>
            <td><%= booking.name %></td>
            <td><%= booking.email %></td>
            <td><%= booking.visitDate %></td>
            <td><%= booking.ticketType %></td>
            <td><%= booking.timeSlot %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <h2 class="row justify-content-center my-5" style="color: grey;">Users</h2>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <br>
      <a href="/admin/logout">Logout</a>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
 
